body {
  background-color: #000; /* Black background */
  color: #20af20; /* Green text */
  font-family: 'Courier New', Courier, monospace; /* Spy-like font */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.puzzle-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

input.puzzle-input {
  margin: 2px;
  padding: 10px;
  border: 2px solid #20af20;
  background-color: #000;
  color: #20af20;
  text-align: center;
}

.navigation button, .hint-section button, button {
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #20af20;
  background-color: #000;
  color: #20af20;
  cursor: pointer;
}



.navigation button:hover, .hint-section button:hover {
  background-color: #20af20;
  color: #000;
}

.popup-container {
  position : fixed;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  padding : 20px;
  background-color : white ;
  border : 2px solid green;
  font-size: 3.5vw;
  /* zIndex : 1000; */
}

.popup-story {
  font-size: 1vw;
  color: red;
}

.hint-text {
  margin: 10px;
  padding: 10px;
  color: #ff0000; /* Optional red text for hints */
}

.line-break {
  /* margin-top: 5vw; */
  margin: 2vw;
  border-color: #20af20;
}


@media (max-width: 375px) {
  /* Styles for small phones */
  input.puzzle-input {
    aspect-ratio: 1 / 1;
    width: 4cqi; /* 4% of container's inline size (width) */
    font-size: 2.7vw; /* Larger font size for better readability */
    margin: 2px;
  }
  .navigation button, .hint-section button, button {
    width: 30vw;
    height: 10vw;
    font-size: 2.8vw;
    padding: 0px;
    margin: 3px;
  }
  .puzzle-title {
    font-size: 7vw;
  }

  .line-break {
    margin: 5vw;
  }

}

@media (min-width: 376px) and (max-width: 414px) {
  /* Styles for medium-sized phones */
  input.puzzle-input {
    aspect-ratio: 1 / 1;
    width: 4cqi; /* 4% of container's inline size (width) */
    font-size: 2.8vw; /* Larger font size for better readability */
  }
  .navigation button, .hint-section button, button {
    width: 28vw; 
    height: 9vw;
    font-size: 2.6vw;
    padding: 0px;
    margin: 4px;
  }
  .puzzle-title {
    font-size: 7vw;
  }

  .line-break {
    margin: 5vw;
  }

}

@media (min-width: 415px) and (max-width: 600px) {
  /* Styles for larger phones */
  input.puzzle-input {
    width: 1.5vw; /* Larger input boxes for small screens */
    height: 1.5vw;
    font-size: 2vw; /* Larger font size for better readability */
  }
  .navigation button, .hint-section button, button {
    width: 26vw;
    height: 8vw;
    font-size: 2vw;
    padding: 0px;
    margin: 5px;
  }

  .line-break {
    margin: 5vw;
  }

  .puzzle-title {
    font-size: 6vw;
  }

}

/* Medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  input.puzzle-input {
    width: 3vw; /* Slightly smaller input boxes for medium screens */
    height: 3vw;
    font-size: 2vw;
    margin: 4px;
  }
  .navigation button, .hint-section button, button {
    width: 15vw;
    height: 5vw;
    font-size: 1.3vw;
    padding: 2px;
  }
  .puzzle-title {
    font-size: 5vw;
  }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1025px) {
  input.puzzle-input {
    width: 3vw; /* Smaller input boxes for large screens */
    height: 3vw;
    font-size: 1.2vw;
    margin: 5px;
  }
  .navigation button, .hint-section button, button {
    width: 10vw;
    height: 3vw;
    font-size: .9vw;
    padding: 0px;
  }
  .puzzle-title {
    font-size: 2.8vw;
  }

}