body {
  background-color: #000; /* Black background */
  color: #20af20; /* Green text */
  font-family: 'Courier New', Courier, monospace; /* Spy-like font */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.puzzle-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  margin-bottom: 5px;
}

input.puzzle-input {
  margin: 5px;
  padding: 10px;
  border: 2px solid #20af20;
  background-color: #000;
  color: #20af20;
  font-size: 3vw; /* Use vw for dynamic font scaling */
  text-align: center;
  width: 2vw;  /* Input box width is 10% of the viewport width */
  height: 2vw; /* Input box height is also 10% of the viewport width */
}

.navigation button, .hint-section button, button {
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #20af20;
  background-color: #000;
  color: #20af20;
  cursor: pointer;
}

.navigation button:hover, .hint-section button:hover {
  background-color: #20af20;
  color: #000;
}

.navigation {
  margin-top: 30px;
}

.hint-text {
  margin-top: 10px;
  color: #ff0000; /* Optional red text for hints */
}

.line-break {
  margin-top: 30px;
  border-color: #20af20;
}